To complete the assignment, we'll cover the following topics in detail as outlined:

1. **Key Features of Python**
2. **Role of Predefined Keywords in Python**
3. **Comparison of Mutable and Immutable Objects in Python**
4. **Types of Operators in Python**
5. **Concept of Type Casting in Python**
6. **Conditional Statements in Python**
7. **Different Types of Loops in Python**

Let's dive into each section:

### 1. Key Features of Python

Python is a popular programming language due to several key features:

- **Readability**: Python's syntax is clear and readable, which makes it easier to learn and understand.
- **Interpreted Language**: Python is an interpreted language, meaning the code is executed line by line, which makes debugging easier.
- **Dynamically Typed**: Variables in Python do not require an explicit declaration to reserve memory space. The declaration happens automatically when a value is assigned to a variable.
- **High-Level Language**: Python abstracts away most of the complex details of the computerâ€™s memory management, making it simpler to write code.
- **Extensive Libraries**: Python has a rich set of libraries and frameworks, such as NumPy, Pandas, and Django, which can be used for various applications.
- **Community Support**: Python has a large and active community, providing extensive documentation and support.

### 2. Role of Predefined Keywords in Python

Keywords in Python are reserved words that have special meanings and cannot be used as variable names. They play crucial roles in the syntax and structure of Python programs.

**Examples of Keywords**:

- `if`, `else`, `elif`: Used for conditional statements.
- `for`, `while`: Used for loops.
- `def`: Used to define a function.
- `return`: Used to return a value from a function.
- `import`: Used to import modules.

In [1]:
#Example Usage

def greet(name):
    if name:
        return f"Hello, {name}!"
    else:
        return "Hello, World!"

In [2]:
greet("Gaurav")

'Hello, Gaurav!'

In [3]:
greet("")

'Hello, World!'

### 3. Comparison of Mutable and Immutable Objects in Python

- **Mutable Objects**: These objects can be changed after they are created. Examples. - lists, dictionaries, and sets.
- **Immutable Objects**: These objects cannot be changed after they are created. Examples. - strings, tuples, and frozensets.

In [4]:
#Example

# Mutable
my_list = [1, 2, 3]
my_list

[1, 2, 3]

In [5]:
my_list[0] = 4  # Changes the list to [4, 2, 3]
my_list

[4, 2, 3]

In [6]:
# Immutable
my_tuple = (1, 2, 3)
my_tuple

(1, 2, 3)

In [7]:
my_tuple[0] = 4  # This will raise a TypeError

TypeError: 'tuple' object does not support item assignment

### 4. Types of Operators in Python

Operators are special symbols that perform operations on variables and values. 

- **Arithmetic Operators**: `+`, `-`, `*`, `/`, `%`, `//`, `**`
- **Comparison Operators**: `==`, `!=`, `>`, `<`, `>=`, `<=`
- **Logical Operators**: `and`, `or`, `not`
- **Bitwise Operators**: `&`, `|`, `^`, `~`, `<<`, `>>`
- **Assignment Operators**: `=`, `+=`, `-=`, `*=`, `/=`
- **Identity Operators**: `is`, `is not`
- **Membership Operators**: `in`, `not in`

Operators are symbols that perform operations on variables and values. Python includes various types of operators, each serving a different purpose. Here are detailed examples of each type of operator:

#### Arithmetic Operators

Arithmetic operators perform mathematical operations such as addition, subtraction, multiplication, and division.

In [8]:
#Examples

a = 10
b = 3

# Addition
print(a + b)  # Output: 13

13

In [9]:
# Subtraction
print(a - b)  # Output: 7

7

In [10]:
# Multiplication
print(a * b)  # Output: 30

30

In [11]:
# Division
print(a / b)  # Output: 3.3333333333333335

3.3333333333333335

In [12]:
# Modulus (remainder of the division)
print(a % b)  # Output: 1

1

In [13]:
# Exponentiation
print(a ** b)  # Output: 1000

1000

In [14]:
# Floor Division
print(a // b)  # Output: 3

3

#### Comparison Operators

Comparison operators are used to compare two values. They return a boolean value (True or False).

In [15]:
#Examples

a = 10
b = 20

# Equal to
print(a == b)  # Output: False

False

In [16]:
# Not equal to
print(a != b)  # Output: True

True

In [17]:
# Greater than
print(a > b)  # Output: False

False

In [18]:
# Less than
print(a < b)  # Output: True

True

In [19]:
# Greater than or equal to
print(a >= b)  # Output: False

False

In [20]:
# Less than or equal to
print(a <= b)  # Output: True

True

#### Logical Operators

Logical operators are used to combine conditional statements.

In [21]:
#Examples

a = True
b = False

# and
print(a and b)  # Output: False

False

In [22]:
# or
print(a or b)  # Output: True

True

In [23]:
# not
print(not a)  # Output: False

False

#### Bitwise Operators

Bitwise operators are used to perform bit-level operations on binary numbers.

In [24]:
#Examples

a = 10  # In binary: 1010
b = 4   # In binary: 0100

# AND
print(a & b)  # Output: 0 (Binary: 0000)

0

In [25]:
# OR
print(a | b)  # Output: 14 (Binary: 1110)

14

In [26]:
# XOR
print(a ^ b)  # Output: 14 (Binary: 1110)

14

In [27]:
# NOT
print(~a)  # Output: -11 (Binary: ...1111111111110101)

-11

In [28]:
# Left Shift
print(a << 2)  # Output: 40 (Binary: 101000)

40

In [29]:
# Right Shift
print(a >> 2)  # Output: 2 (Binary: 0010)

2

#### Assignment Operators

Assignment operators are used to assign values to variables.

In [30]:
#Examples

a = 10

# Assign
a = 5
print(a)  # Output: 5

5

In [31]:
# Add and assign
a += 3
print(a)  # Output: 8

8

In [32]:
# Subtract and assign
a -= 2
print(a)  # Output: 6

6

In [33]:
# Multiply and assign
a *= 2
print(a)  # Output: 12

12

In [34]:
# Divide and assign
a /= 3
print(a)  # Output: 4.0

4.0

In [35]:
# Modulus and assign
a %= 3
print(a)  # Output: 1.0

1.0

In [36]:
# Floor division and assign
a //= 2
print(a)  # Output: 0.0

0.0

In [37]:
# Exponentiation and assign
a **= 2
print(a)  # Output: 0.0

0.0

In [38]:
# Bitwise AND and assign
a = 10
a &= 3
print(a)  # Output: 2

2

In [39]:
# Bitwise OR and assign
a |= 2
print(a)  # Output: 2

2

In [40]:
# Bitwise XOR and assign
a ^= 1
print(a)  # Output: 3

3

In [41]:
# Bitwise Left Shift and assign
a <<= 1
print(a)  # Output: 6

6

In [42]:
# Bitwise Right Shift and assign
a >>= 1
print(a)  # Output: 3

3

#### Identity Operators

Identity operators are used to compare the memory locations of two objects.

In [43]:
#Examples

a = 10
b = 10
c = a

# is
print(a is b)  # Output: True (Both point to the same object)

# is not
print(a is not c)  # Output: False (Both point to the same object)

True
False

#### Membership Operators

Membership operators are used to test if a sequence contains a specified element.

In [44]:
#Examples

my_list = [1, 2, 3, 4, 5]

# in
print(3 in my_list)  # Output: True

# not in
print(6 not in my_list)  # Output: True

True
True

### Summary

- **Arithmetic Operators**: Perform basic mathematical operations.
- **Comparison Operators**: Compare two values and return a boolean result.
- **Logical Operators**: Combine conditional statements.
- **Bitwise Operators**: Perform bit-level operations on binary numbers.
- **Assignment Operators**: Assign values to variables.
- **Identity Operators**: Compare the memory locations of two objects.
- **Membership Operators**: Test if a value is found in a sequence.

### 5. Concept of Type Casting in Python

Type casting refers to converting one data type to another.

In [45]:
#Examples
# Implicit Type Casting
a = 10 #int
b = 2.5 #float
c = a + b  # c becomes 12.5 which is float
print(type(a),type(b),type(c))

# Explicit Type Casting
x = "123" #string
y = int(x)  # y becomes 123 which is intiger
z = float(x)  # z becomes 123.0 which is float
print(type(x),type(y),type(z))

<class 'int'> <class 'float'> <class 'float'>
<class 'str'> <class 'int'> <class 'float'>

### 6. Conditional Statements in Python

Conditional statements allow a program to execute certain pieces of code based on whether a condition is true or false. The primary conditional statements in Python are `if`, `elif`, and `else`.

#### Basic `if` Statement

The `if` statement evaluates a condition, and if the condition is true, it executes the block of code within it.

**Syntax**:
```python
if condition:
    # Code to execute if condition is true
```

In [46]:
#Example

x = 10

if x > 5:
    print("x is greater than 5")  # Output: x is greater than 5

x is greater than 5

#### `if`-`else` Statement

The `else` statement is used to execute a block of code if the condition in the `if` statement is false.

**Syntax**:
```python
if condition:
    # Code to execute if condition is true
else:
    # Code to execute if condition is false
```

In [47]:
#Example

x = 3

if x > 5:
    print("x is greater than 5")
else:
    print("x is less than or equal to 5")  # Output: x is less than or equal to 5

x is less than or equal to 5

#### `if`-`elif`-`else` Statement

The `elif` (short for "else if") statement allows you to check multiple expressions for true and execute a block of code as soon as one of the conditions is true. If none of the conditions are true, the `else` block is executed.

**Syntax**:
```python
if condition1:
    # Code to execute if condition1 is true
elif condition2:
    # Code to execute if condition2 is true
else:
    # Code to execute if none of the above conditions are true
```

In [48]:
#Example

x = 7

if x > 10:
    print("x is greater than 10")
elif x > 5:
    print("x is greater than 5 but less than or equal to 10")  # Output: x is greater than 5 but less than or equal to 10
else:
    print("x is 5 or less")

x is greater than 5 but less than or equal to 10

#### Nested Conditional Statements

You can nest `if`, `elif`, and `else` statements within each other to create complex conditional logic.

In [49]:
#Example

x = 15

if x > 10:
    print("x is greater than 10")  # Output: x is greater than 10
    if x > 20:
        print("x is also greater than 20")
    else:
        print("x is not greater than 20")  # Output: x is not greater than 20
else:
    print("x is 10 or less")

x is greater than 10
x is not greater than 20

#### Conditional Expressions (Ternary Operator)

Python also supports a shorthand for `if`-`else` statements known as the ternary operator or conditional expression.

**Syntax**:
```python
value_if_true if condition else value_if_false
```

In [50]:
#Example

x = 8
result = "Even" if x % 2 == 0 else "Odd"
print(result)  # Output: Even

Even

#### Combining Conditions

You can combine multiple conditions using logical operators `and`, `or`, and `not`.

In [51]:
#Example

x = 12
y = 15

# Using 'and' operator
if x > 10 and y > 10:
    print("Both x and y are greater than 10")  # Output: Both x and y are greater than 10

# Using 'or' operator
if x > 10 or y > 20:
    print("At least one of x or y is greater than 10 or 20")

# Using 'not' operator
if not (x < 5):
    print("x is not less than 5")  # Output: x is not less than 5

Both x and y are greater than 10
At least one of x or y is greater than 10 or 20
x is not less than 5

#### Summary

- **`if` Statement**: Executes a block of code if the condition is true.
- **`if`-`else` Statement**: Executes one block of code if the condition is true, and another block if it is false.
- **`if`-`elif`-`else` Statement**: Checks multiple conditions, executing corresponding blocks of code for the first true condition.
- **Nested Conditionals**: Conditional statements within other conditional statements for complex logic.
- **Conditional Expressions**: Shorthand for `if`-`else` statements.
- **Combining Conditions**: Using logical operators to evaluate multiple conditions.

### 7. Different Types of Loops in Python

Loops are a fundamental programming construct that allow you to execute a block of code repeatedly based on a condition. Python supports two main types of loops: `for` and `while`.

#### `for` Loop

The `for` loop is used to iterate over a sequence (such as a list, tuple, dictionary, set, or string) and execute a block of code for each element in the sequence.

**Syntax**:
```python
for element in sequence:
    # Code to execute for each element
```

In [52]:
#Example

# Iterating over a list
numbers = [1, 2, 3, 4, 5]
for number in numbers:
    print(number)  # Output: 1 2 3 4 5

1
2
3
4
5

In [53]:
# Iterating over a string
for char in "hello":
    print(char)  # Output: h e l l o

h
e
l
l
o

In [54]:
# Using range()
for i in range(5):
    print(i)  # Output: 0 1 2 3 4

0
1
2
3
4

#### `while` Loop

The `while` loop continues to execute a block of code as long as the specified condition is true.

**Syntax**:
```python
while condition:
    # Code to execute while condition is true
```

In [55]:
#Example

count = 0
while count < 5:
    print(count)  # Output: 0 1 2 3 4
    count += 1

0
1
2
3
4

#### Nested Loops

You can nest loops within each other to perform more complex iterations.

In [56]:
#Example

# Nested for loop
for i in range(3):
    for j in range(2):
        print(f"i: {i}, j: {j}")
# Output:
# i: 0, j: 0
# i: 0, j: 1
# i: 1, j: 0
# i: 1, j: 1
# i: 2, j: 0
# i: 2, j: 1

i: 0, j: 0
i: 0, j: 1
i: 1, j: 0
i: 1, j: 1
i: 2, j: 0
i: 2, j: 1

#### Loop Control Statements

Python provides several control statements that you can use within loops to modify their behavior:

- **`break`**: Terminates the loop prematurely.
- **`continue`**: Skips the current iteration and proceeds to the next iteration.
- **`else`**: Executes a block of code once the loop completes normally (i.e., not terminated by a `break` statement).

In [57]:
#Example

# break
for i in range(10):
    if i == 5:
        break
    print(i)  # Output: 0 1 2 3 4

0
1
2
3
4

In [58]:
# continue
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)  # Output: 1 3 5 7 9

1
3
5
7
9

In [59]:
# else
for i in range(5):
    print(i)
else:
    print("Loop completed")  # Output: 0 1 2 3 4 Loop completed

0
1
2
3
4
Loop completed

### Summary

- **`for` Loop**: Used for iterating over sequences.
- **`while` Loop**: Used for iterating as long as a condition is true.
- **Nested Loops**: Loops inside loops for more complex iteration.
- **Loop Control Statements**: `break`, `continue`, and `else` modify loop behavior.

### Use Cases:

- **For Loop**: Generally used when the number of iterations is known.
- **While Loop**: Used when the number of iterations is not known and depends on a condition.

### Real-World Use Case: Cricket World Cup Analysis

Let's consider an example where we analyze player performance data from an ongoing Cricket World Cup. The goal is to calculate the total runs scored by each player, identify the top scorer, and determine the average runs per match.

#### Dataset Example
We will use a list of dictionaries, where each dictionary represents a match record with player names, runs scored, and the match date.

In [60]:
# Dataset of match records
matches = [
    {"player": "Player A", "runs": 120, "date": "2023-06-01"},
    {"player": "Player B", "runs": 75, "date": "2023-06-01"},
    {"player": "Player A", "runs": 45, "date": "2023-06-02"},
    {"player": "Player C", "runs": 60, "date": "2023-06-02"},
    {"player": "Player B", "runs": 89, "date": "2023-06-03"},
    {"player": "Player C", "runs": 110, "date": "2023-06-03"},
    {"player": "Player A", "runs": 70, "date": "2023-06-04"},
    {"player": "Player B", "runs": 120, "date": "2023-06-04"},
]

In [61]:
# Initialize variables
total_runs = {}
match_count = len(matches)

# Loop through the matches
for match in matches:
    runs = match["runs"]
    player = match["player"]
    
    # Update player run totals
    if player in total_runs:
        total_runs[player] += runs
    else:
        total_runs[player] = runs

# Calculate total runs scored across all matches
total_all_runs = sum(total_runs.values())

# Calculate average runs per match
average_runs_per_match = total_all_runs / match_count

# Identify the top scorer
top_scorer = max(total_runs, key=total_runs.get)

# Print results
print(f"Total Runs by Each Player: {total_runs}")
print(f"Average Runs Per Match: {average_runs_per_match:.2f}")
print(f"Top Scorer: {top_scorer} with {total_runs[top_scorer]} runs")

# Output:
# Total Runs by Each Player: {'Player A': 235, 'Player B': 284, 'Player C': 170}
# Average Runs Per Match: 98.88
# Top Scorer: Player B with 284 runs

Total Runs by Each Player: {'Player A': 235, 'Player B': 284, 'Player C': 170}
Average Runs Per Match: 86.12
Top Scorer: Player B with 284 runs

#### Explanation:

- **Initialization**:
  - `total_runs` is a dictionary to keep track of each player's total runs.
  - `match_count` is set to the total number of matches in the dataset.

- **Loop Through Matches**:
  - Each match record is iterated over.
  - The player's run total is updated in the `total_runs` dictionary. If the player is not already in the dictionary, they are added.

- **Calculate Average Runs Per Match**:
  - `total_all_runs` is calculated by summing the values in `total_runs`.
  - `average_runs_per_match` is calculated by dividing `total_all_runs` by `match_count`.

- **Identify Top Scorer**:
  - `top_scorer` is identified using the `max()` function on `total_runs` with the `key` parameter set to `total_runs.get` to get the player with the highest total runs.

This example demonstrates how to use loops and dictionaries to analyze player performance data in a Cricket World Cup, providing meaningful insights into player statistics.

#### End of Assignment 1